@import "../../../scss/variables.scss";

// ------------- TRANSITIONS --------------

$position-anim: 0.4s 1.6s $cbIn;
$position-anim-back: 0.4s 0.4s $cbIn;

$letters-anim: 0.4s $cbInOut;
$letters-anim-back: 0.4s 0.8s $cbInOut;

$white-circle-anim: 0.8s 0.5s ease-out;
$white-circle-anim-back: 0.4s 0s ease-out;

$white-circle-opacity: 0.2s 1.8s ease-out;
$white-circle-opacity-back: 0s 0.4s ease-out;

.logo-root {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;

  .logo-container {
    // background-color: rebeccapurple;
    width: 600px;
    height: 100px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;

    .m {
      position: absolute;
      top: 26px;
      left: 39px;
    }

    .ovie {
      position: absolute;
      top: 24px;
      left: 110px;
    }

    .c {
      position: absolute;
      top: 25px;
      left: 277px;
    }

    .luster {
      position: absolute;
      top: 24px;
      left: 329px;
    }

    .green-circle {
      position: absolute;
      top: 19px;
      left: 270px;
    }

    .white-circle {
      position: absolute;
      top: -34px;
      left: 215px;

      fill: none;
      stroke: white;
      stroke-width: 13px;
      stroke-linecap: round;
      //   background-color: rosybrown;
      transform: rotate(150deg);

      circle {
        stroke-dasharray: 490;
        stroke-dashoffset: 490;
        opacity: 1;
      }
    }
  }

  &.icon-state {
    top: 50px;
    left: 50px;
    transform: scale(0.3);

    .logo-container {
      //   background-color: rebeccapurple;
      width: 600px;
      height: 100px;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;

      .m {
        position: absolute;
        top: 26px;
        left: 270px;
      }

      .ovie {
        position: absolute;
        top: 24px;
        left: 110px;
        opacity: 0;
      }

      .c {
        position: absolute;
        top: 25px;
        left: 270px;
        opacity: 0;

        transform: scale(2.6);
      }

      .luster {
        position: absolute;
        top: 24px;
        left: 329px;
        opacity: 0;
      }

      .green-circle {
        position: absolute;
        top: 22px;
        left: 271px;

        transform: scale(2.6);
      }

      .white-circle {
        position: absolute;
        top: -34px;
        left: 215px;

        fill: none;
        stroke: white;
        stroke-width: 13px;
        stroke-linecap: round;
        //   background-color: rosybrown;
        transform: rotate(150deg);

        circle {
          stroke-dasharray: 490;
          stroke-dashoffset: 45;
          opacity: 0.2;
        }
      }
    }
  }
}

// -------------- TRANSITIONS ANIMATIONS ------------------

.logo-root {
  &.text-state {
    transition: all $position-anim-back;

    .logo-container {
      * {
        transition: all $letters-anim-back;
      }
      .white-circle circle {
        transition: all $white-circle-anim-back,
          opacity $white-circle-opacity-back;
      }
    }
  }

  &.icon-state {
    transition: all $position-anim;

    .logo-container {
      * {
        transition: all $letters-anim;
      }
      .white-circle {
        cursor: pointer;
        z-index: 1000;
        circle {
          transition: all $white-circle-anim, opacity $white-circle-opacity;
        }
      }
    }
  }
}
