@import "../../../../scss/variables.scss";

.filter-dropdown {
  background-color: rgba(color(darker-blue), 0);
  position: absolute;
  top: 5px;
  right: 100px;
  width: 120px;
  text-align: left;
  padding: 5px 20px;
  border-radius: 10px;
  border: solid 2px rgba(color(darker-blue), 0);
  height: 20px;

  transition: all 0.4s $cbSlowOut;
  * {
    transition: all 0.4s $cbSlowOut;
  }

  .selected-option {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .options {
    opacity: 0;
    pointer-events: none;

    transition: all 0s;

    .option {
      margin-top: 5px;
      padding: 5px;
      border-radius: 10px;
      opacity: 0.4;

      &:hover {
        opacity: 1;
        cursor: pointer;
        background-color: rgba(color(main-green), 0.1);
      }

      &.active {
        color: color(main-green);
        opacity: 1;
        pointer-events: none;
      }
    }
  }

  &.open {
    height: 180px;
    border: solid 2px color(main-green);
    box-shadow: 0 0 50px 0 color(darker-blue);
    background-color: color(darker-blue);

    .arrow {
      transform: rotate(180deg);
    }

    .options {
      opacity: 1;
      pointer-events: all;

      transition: all 0.4s 0.2s ease-out;
    }
  }

  @include width992 {
    position: absolute;
    top: 5px;
    left: 50%;

    transform: translateX(-50%);
  }
}
